@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mercusuar';
  src: url('./assets/fonts/MercusuarBold-d9w6x.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mercusuar';
  src: url('./assets/fonts/MercusuarBoldItalic-L346E.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoFlex';
  src: url('./assets/fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
  font-style: normal;
}

* {
  font-family: RobotoFlex;
}
